In [22]:
my_list = ['string', 24.3, 8, "HELLO WORLD", 11]

In [23]:
print(my_list)

['string', 24.3, 8, 'HELLO WORLD', 11]

In [24]:
len(my_list)

5

# Indexing, Slicing and Concatinating in Lists

In [25]:
my_list[2] #Indexing

8

In [26]:
my_list[1:3] #Slicing

[24.3, 8]

In [27]:
my_list[0::2]

['string', 8, 11]

In [28]:
my_list2 = my_list[::-1] + my_list[::2]

In [29]:
print(my_list2)

[11, 'HELLO WORLD', 8, 24.3, 'string', 'string', 8, 11]

In [30]:
my_list2[4] = ' ' #Unlike strings, lists are mutable

In [31]:
my_list2[-2] = 9
my_list2[-1] = '5'

In [32]:
print(my_list2)

[11, 'HELLO WORLD', 8, 24.3, ' ', 'string', 9, '5']

In [33]:
my_list2

[11, 'HELLO WORLD', 8, 24.3, ' ', 'string', 9, '5']

In [34]:
my_list2[8] = 22.5 #we cannot append value in list by indexing

IndexError: list assignment index out of range

In [35]:
#but we can append value like this
my_list2 = my_list2 + [22.5]

In [36]:
my_list2

[11, 'HELLO WORLD', 8, 24.3, ' ', 'string', 9, '5', 22.5]

In [38]:
my_list2[2]

8

In [39]:
#updating integer or float value

my_list2[2] = my_list2[2] + 5

In [40]:
my_list2[2]

13

In [41]:
my_list2

[11, 'HELLO WORLD', 13, 24.3, ' ', 'string', 9, '5', 22.5]

In [12]:
List1 = ['one', 'two', 'three']

In [13]:
List2 = 'zero' + List1 + 'four'

TypeError: can only concatenate str (not "list") to str

In [14]:
List2 = ['zero'] + List1 + ['four']
print(List2)

['zero', 'one', 'two', 'three', 'four']

In [24]:
# Updating a specific element of list by itself

myList = [1,'2',3.14]

In [25]:
myList[1] += '3'

print(myList)

[1, '23', 3.14]

In [26]:
myList[2] += myList[0]

print(myList)

[1, '23', 4.140000000000001]

### Replacing multiple values of a list

In [1]:
mylist = list(range(0,11))
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
id(mylist)

2397763428808

In [3]:
mylist[3:8] = ['A','B','C','D','E']

In [4]:
print(mylist)

[0, 1, 2, 'A', 'B', 'C', 'D', 'E', 8, 9, 10]

In [5]:
id(mylist)

2397763428808

In [6]:
# Replacing all elements of mylist without changing its id

mylist[::] = list(range(0,len(mylist)))

In [7]:
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
id(mylist)

2397763428808

In [9]:
# Manipulating entire list elements without changing its list's id

mylist[::] = [63,'64',64.5]

In [10]:
print(mylist)

[63, '64', 64.5]

In [11]:
id(mylist)

2397763428808

# Methods in List

append()

In [9]:
print(List2)

['zero', 'one', 'two', 'three', 'four']

In [10]:
List2.append('five')

In [11]:
print(List2)

['zero', 'one', 'two', 'three', 'four', 'five']

In [63]:
mylist2 = List2.append('five') #method append() returns nothing, it will only change List2

In [66]:
mylist2 #see, it did not return anything. Therefore is did not store anything in variable mylist2

In [67]:
type(mylist2)

NoneType

In [80]:
a = None #special character with type NoneType

In [81]:
type(a)

NoneType

pop()

In [44]:
List2

['zero', 'one', 'two', 'three', 'four', 'five']

In [45]:
List2.pop() #whereas, method pop() did return string 'five' along with changing List2

'five'

In [46]:
List2 #see, List2is also change

['zero', 'one', 'two', 'three', 'four']

In [47]:
popped_item = List2.pop() #by default, index inside pop() is -1 or List2.pop() is same as List2.pop(-1)

In [48]:
popped_item

'four'

In [51]:
type(popped_item)

str

In [49]:
List2

['zero', 'one', 'two', 'three']

In [50]:
List3 = List2 + ['four', 'five', 'six']
List3

['zero', 'one', 'two', 'three', 'four', 'five', 'six']

In [52]:
List3.pop(4) #default is variable.pop(-1)

'four'

In [53]:
List3

['zero', 'one', 'two', 'three', 'five', 'six']

In [57]:
List3 = List3[:4] + ['four'] + List3[4:]

In [59]:
print(List3)

['zero', 'one', 'two', 'three', 'four', 'five', 'six']

In [60]:
new_list

['zero', 'one', 'two', 'three', 'four', 'five', 'six']

sort()

In [68]:
myList1 = [6, 4, 98, 2, 8, 2, 9, 5, 3]
myList2 = ['a', 'h', 'd', 'z', 'r']

In [74]:
myList1.sort() #method sort() also, do not return anything like pop(), but rather it changes variables which are coupled with them
myList2.sort()

In [76]:
print(f'myList1 = {myList1} \nmyList2 = {myList2}')

myList1 = [2, 2, 3, 4, 5, 6, 8, 9, 98]
myList2 = ['a', 'd', 'h', 'r', 'z']

reverse()

In [82]:
myList3 = [1, 2, 3, 4, 5]

In [83]:
myList3.reverse()

In [84]:
myList3

[5, 4, 3, 2, 1]

# Nested Lists

In [88]:
MyList = ['string', 24.3, 8, [1, 42.5, 'STRING']]

In [89]:
MyList[2]

8

In [90]:
MyList[3][1]

42.5

In [96]:
MyList[:3]

['string', 24.3, 8]

In [107]:
MyList[1:][:2]

[24.3, 8]

In [108]:
#here MyList[1:][:2] corresponds to ===>

temp = MyList[1:]
temp[:2]

[24.3, 8]

# List unpacking

In [5]:
a,b,c = ['1', 3, 23.08]

In [6]:
a

'1'

In [7]:
b

3

In [8]:
c

23.08