### Sets in python corresponds to the sets from *discrete math*. Sets are unordered collections of *unique* data of *immutable* data-type. Hence we can only store data belonging to *int*, *float*, *str* and *tup*, *list* and *dict* cannot be stored in set. Since sets are unordered, hence no such thing like indexing and slicing in sets

In [40]:
s1 = {105, 2.56, 'STRING', (1, 2, 'string')}

In [41]:
type(s1)

set

In [42]:
len(s1)

4

In [20]:
s2 = {105, 2.56, 'STRING', (1, 2, 'STRING'), ['1', 'two', 3]}

TypeError: unhashable type: 'list'

In [21]:
s2 = s2 = {105, 2.56, 'STRING', (1, 2, 'STRING'), {'k1':'V1', 'k2':'V2'}}

TypeError: unhashable type: 'dict'

In [64]:
#tuples without nested lists and dictionaries are only allowed to be stored in set

myset = {44, 'string', (1, 2, ['1', '2', '3'])}

TypeError: unhashable type: 'list'

In [25]:
a = 1023.065
b = 'STR'

s2 = {a, b, 6}

In [26]:
print(s2)

{'STR', 6, 1023.065}

In [1]:
#we can add same data multiple times

s3 = {12, 43, 4, 'string', 0.0048, 'STRING', 43, 'string'}

In [44]:
#but set won't store it

print(s3)

{'string', 0.0048, 4, 43, 12, 'STRING'}

### How to create an empty set

In [1]:
# before that, lets see how to create an empty list, string, tuple and dictionary

L1 = []
L2 = list()

S1 = ''
S2 = str()

T1 = ()
T2 = tuple()

D1 = {}
D2 = dict()

In [2]:
print(f'Empty set:- {L1} and {L2}, Empty tuple:- {T1} and {T2}, Empty dictionary:- {D1} and {D2}')

Empty set:- [] and [], Empty tuple:- () and (), Empty dictionary:- {} and {}

In [9]:
S1

''

In [10]:
S2

''

Empty Dictionary vs. Empty Set

In [2]:
data_structure = {}

In [3]:
type(data_structure)

dict

In [4]:
DS1 = {1}
DS2 = {1: 2}

In [6]:
type(DS1)

set

In [7]:
type(DS2)

dict

This is how we define an empty set

In [11]:
s4 = set() #empty set is assigned to variable s3

In [12]:
print(s4)

set()

In [13]:
type(s4)

set

In [14]:
type(set())

set

In [ ]:
data_structure1 = {1}
data

### Methods in set

<code>.add()</code>

In [14]:
a = set()

In [15]:
a.add(1)
print(a)

{1}

In [16]:
a.add('str')
print(a)

{1, 'str'}

In [17]:
a.add(45.2)
print(a)

{1, 'str', 45.2}

In [12]:
a.add('str') #adding another string 'str' in set 'a'

In [13]:
print(a) #still no change

{1, 'str', 45.2}

<code>.union()</code>

In [31]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

c = a.union(b)
d = b.union(a)

print(f'c = {c}\nd = {d}')

c = {1, 2, 3, 4, 5, 6, 7, 8}
d = {1, 2, 3, 4, 5, 6, 7, 8}

<code>.intersection()</code>

In [32]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

c = a.intersection(b)
d = b.intersection(a)

print(f'c = {c}\nd = {d}')

c = {4, 5}
d = {4, 5}

<code>.difference()</code>

In [33]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

c = a.difference(b)
d = b.difference(a)

print(f'c = {c}\nd = {d}')

c = {1, 2, 3}
d = {8, 6, 7}

<code>symmetric_difference()</code>

In [34]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

c = a.symmetric_difference(b)
d = b.symmetric_difference(a)

print(f'c = {c}\nd = {d}')

c = {1, 2, 3, 6, 7, 8}
d = {1, 2, 3, 6, 7, 8}

<code>.issubset()</code> and <code>.issuperset()</code>

In [35]:
a = {1,2,3,4,5}
b = {4,5}

In [36]:
a.issubset(b)

False

In [37]:
b.issubset(a)

True

In [38]:
a.issuperset(b)

True

In [39]:
b.issuperset(a)

False

### There is no such thing like indexing or slicing in sets

In [15]:
s4[1]

TypeError: 'set' object is not subscriptable

### Calling set() with various data-types

In [20]:
unique1 = set('Parallel')
print(unique1)

{'a', 'e', 'l', 'r', 'P'}

In [17]:
My_List = [1,2,3,2,6,7,4,3,5]

In [22]:
unique2 = set(My_List)
print(unique2)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
My_Tuple = (5,5,5,5,6,6,7,)

In [23]:
unique3 = set(My_Tuple)
print(unique3)

{5, 6, 7}

In [24]:
My_Integer = 250

In [25]:
unique4 = set(My_Integer)

TypeError: 'int' object is not iterable

### What if tuple has list in it :P

In [55]:
Tuple2 = (1, '2', [11, ' ', 24.5])

In [57]:
Set2 = set(Tuple2)

TypeError: unhashable type: 'list'

### Since sets are unordered collection data, it will still give true while comparing two sets, even if both of them have their data misplaced. But both of them must posses same unique data

In [2]:
{3.14,'str',(1,2,3)} == {'str',(1,2,3),3.14}

True

### But in case of a list and tuple, order matters

In [15]:
[3.14,'str',(1,2,3)] == ['str',(1,2,3),3.14]

False

In [16]:
(3.14,'str',(1,2,3)) == ('str',(1,2,3),3.14)

False