# List

In [10]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [12]:
for bean in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [13]:
for char in mylist:
    if (char % 2) == 0:
        print(char)

2
4
6
8
10

In [15]:
for char in mylist:
    if char % 2 == 0:
        print(f'even number {char}')
    else:
        print(f'odd number {char}')

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [16]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list_sum = 0

for gum in mylist:
    list_sum = list_sum + gum1
print(list_sum)

55

In [21]:
list_sum = 0

for num in mylist:
    temp = list_sum
    list_sum = list_sum + num
    print(f'{temp} + {num} = {list_sum}')

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45
45 + 10 = 55

In [3]:
#to print square of numbers in list - METHOD 1
mylist2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in mylist2:
    sqr = num**2
    print(sqr)

1
4
9
16
25
36
49
64
81
100

In [4]:
#METHOD 2
mylist2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in mylist2:
    print(num**2)

1
4
9
16
25
36
49
64
81
100

# String

In [22]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
for dog in 'Hi, how are you?':
    if dog != 'H' and dog != 'h':
        print(dog)

i
,

o
w

a
r
e

y
o
u
?

### Using <code>split()</code> method in for-loop

In [10]:
STRING = 'Spiritual Sadhana is the answer to sex attraction'

In [11]:
for word in STRING.split(' '):
    if word[0] == 'S' or word[0] == 's':
        print(f"Word '{word}' starts with letter 's'")

Word 'Spiritual' starts with letter 's'
Word 'Sadhana' starts with letter 's'
Word 'sex' starts with letter 's'

In [12]:
STRING.split(' ')

['Spiritual', 'Sadhana', 'is', 'the', 'answer', 'to', 'sex', 'attraction']

# Tuple

In [27]:
for char in (1, 2, 'string', 0.45):
    print(char)

1
2
string
0.45

In [29]:
my_list = [(1,2), (3,4), (5,6), (7,8), (9,10)]
len(my_list)

5

In [30]:
for cor_ in my_list:
    print(cor_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [31]:
cor_

(9, 10)

In [32]:
#Tuple unpacking
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [35]:
#Tuple unpacking method-2
my_list2 = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in my_list2:
    print(b)
    print(c)

2
3
5
6
8
9

# Dictionary

In [37]:
#by default its going to return keys
d = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

for temp in d:
    print(temp)

key1
key2
key3

In [39]:
#to print values:-
d_value = d.values()
d_value

dict_values(['value1', 'value2', 'value3'])

In [41]:
for temp in d_value:
    print(temp)

value1
value2
value3

In [42]:
#to print both key-value pair
d_item = d.items()
d_item

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [44]:
for temp in d_item:
    print(temp)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [46]:
#we can also make use of dictionary unpacking

for (key,value) in d.items():
    print(key)

key1
key2
key3

In [47]:
for (key,value) in d.items():
    print(value)

value1
value2
value3

### More example from dictionary

In [2]:
D = {'k1':'v1', 'k2':'v2', 'k3':'v3'}

In [3]:
for vv in D:
    print(vv)

k1
k2
k3

In [4]:
for vv in D.keys():
    print(vv)

k1
k2
k3

In [5]:
for vv in D.values():
    print(vv)

v1
v2
v3

In [6]:
for vv in D.items():
    print(vv)

('k1', 'v1')
('k2', 'v2')
('k3', 'v3')

# Extracting data from one List / String and storing them in another List

In [ ]:
#appending in for loop
mylist3 = []

for letter in 'Hello World':
    mylist3.append(letter)

In [21]:
print(mylist3)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

# Nested For loops

In [17]:
L1 = [1, 2, 3, 4, 5, 6]
L2 = [7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
L3 = []

i = 0
for num1 in L1:
    j = 0
    for num2 in L2:
        if i == j:
            L3.append(num1 + num2)
        j += 1
    i += 1
print(L3)

[8, 10, 12, 14, 16, 18]

# What value num points to after the end of for loop?

1) In case of list

In [1]:
for num in [1,2,3,4,5,6,7,8,9]:
    pass

In [2]:
# So num will point to last value of iteration
num

9

2) In case of generator

In [3]:
for num in range(11):
    pass

In [4]:
num

10

3) In case of string

In [5]:
import string

for num in string.ascii_lowercase:
    pass

In [6]:
num

'z'

4) In case of control flow

In [10]:
for num in range(1,16):
    if num%3 == 0 and num != 3:
        break
        
    else:
        continue

In [11]:
num

6