# <code>range()</code>, <code>enumerate()</code> and <code>zip()</code> are few of the GENERATORS in Python

# <code>range()</code>

range(start,stop,jump) - by default jump=1 and start=0

In [1]:
#it returns nothing use full if executed alone
range(10,20)

range(10, 20)

In [2]:
type(range(34,39))

range

In [5]:
#it is useful with list()
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(10,35,3))

[10, 13, 16, 19, 22, 25, 28, 31, 34]

In [1]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
#it can also be used in for-loop
#METHOD 1

for num in list(range(5,27,2)):
    print(num**2)

25
49
81
121
169
225
289
361
441
529
625

In [10]:
#METHOD 2 - it can be placed directly

for x in range(25,30):
    print((x**2)-(2*x))

575
624
675
728
783

# <code>enumerate()</code>

In [1]:
#it returns nothing useful if executed individually
enumerate([23,55,63,74,84,45])

In [4]:
#but if it is executed with it being inside list, it Basically extracts individual data from my_list and pairs it with 
#its index in form of tuple. And stores each of these pair/tuple in another list

list(enumerate([23,55,63,74,84,45]))

[(0, 23), (1, 55), (2, 63), (3, 74), (4, 84), (5, 45)]

In practice, it is used to replace manual index-count

In [12]:
#example of manual index-count

my_list = [23, 55, 63, 74, 84, 45]

i = 0
for num in my_list:
    print(f'{num} is at index {i}')
    i += 1

23 is at index 0
55 is at index 1
63 is at index 2
74 is at index 3
84 is at index 4
45 is at index 5

In [23]:
#without manual index-count

for pair in list(enumerate(my_list)):
    print(pair)

(0, 23)
(1, 55)
(2, 63)
(3, 74)
(4, 84)
(5, 45)

In [24]:
#it can be used directly

for pair in enumerate(my_list):
    print(pair)

(0, 23)
(1, 55)
(2, 63)
(3, 74)
(4, 84)
(5, 45)

In [20]:
#example 2

for pair in enumerate('HALO WRLD'):
    print(pair)

(0, 'H')
(1, 'A')
(2, 'L')
(3, 'O')
(4, ' ')
(5, 'W')
(6, 'R')
(7, 'L')
(8, 'D')

In [21]:
#we can also use tuple-unpacking

for index,letter in enumerate('HALO WRLD'):
    print(f'letter {letter} is at index {index}')

letter H is at index 0
letter A is at index 1
letter L is at index 2
letter O is at index 3
letter   is at index 4
letter W is at index 5
letter R is at index 6
letter L is at index 7
letter D is at index 8

# <code>zip()</code>

It's like <code>enumerate()</code>, <code>enumerate()</code> extracts data from required list and couple it with index of the data, and store it in other parent list. But <code>zip()</code> extract data from two different list and couple them into tuple, and stroe them in other parent list

In [1]:
list1 = ['a','b','c','d','e','f']
list2 = [1, 2, 3, 4, 5, 6]

In [6]:
#it returns nothing useful if executed individually
zip(list1,list2)

In [44]:
#but it is useful if passed with list
list(zip(list1,list2))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6)]

In [45]:
#Use in for-loop
for pair in list(zip(list1,list2)):
    print(pair)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
('f', 6)

In [46]:
#it can also be passed directly in for-loop
for pair in zip(list1,list2):
    print(pair)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
('f', 6)

In [47]:
#tuple unpacking
i = 1
for el1,el2 in list(zip(list1,list2)):
    if i == 1:
        print(f'{i}st element from list1: {el1}\n{i}st element from list2: {el2}\n')
    elif i == 2:
        print(f'{i}nd element from list1: {el1}\n{i}nd element from list2: {el2}\n')
    elif i == 3:
        print(f'{i}rd element from list1: {el1}\n{i}rd element from list2: {el2}\n')
    else:
        print(f'{i}th element from list1: {el1}\n{i}th element from list2: {el2}\n')
    i += 1

1st element from list1: a
1st element from list2: 1

2nd element from list1: b
2nd element from list2: 2

3rd element from list1: c
3rd element from list2: 3

4th element from list1: d
4th element from list2: 4

5th element from list1: e
5th element from list2: 5

6th element from list1: f
6th element from list2: 6

In case of lists with different length, zip will be in favour of shortest list

In [50]:
list3 = ['a','b','c','d','e','f','g','h']
list4 = [1, 2, 3, 4, 5, 6]
list5 = [2.56, 'str', [1,3,7]]

In [52]:
list(zip(list3,list4,list5))

[('a', 1, 2.56), ('b', 2, 'str'), ('c', 3, [1, 3, 7])]

# <code>in</code> operator

### List

In [53]:
list6 = ['a','b','c']

In [54]:
'b' in list6

True

In [55]:
'x' in list6

False

In [56]:
5 in [1,2,3,4,5,6]

True

In [7]:
11 in list(range(0,13))

True

In [8]:
8 in range(0,5)

False

### Dictionary
<code>in</code> operator will check for keys, since they are unique for dictionaries

In [1]:
'mutton' in {'fish':30,'chicken':40,'mutton':80,'egg':7,'beef':75}

True

In [2]:
'crab' in {'fish':30,'chicken':40,'mutton':80,'egg':7,'beef':75}

False

### String
<code>in</code> operator will check whether a sub-string is part of some string or not

In [1]:
'b' in 'banana'

True

In [2]:
'nana' in 'banana'

True

In [3]:
'na' in 'banana'

True

In [5]:
'ana' in 'banana'

True

In [6]:
'a' in 'banana'

True

In [7]:
'n' in 'banana'

True

In [8]:
'anana' in 'banana'

True

In [9]:
'ananab' in 'banana'

False

In [10]:
'bna' in 'banana'

False

# <code>not in</code> operator

### List

In [60]:
'b' not in list6

False

In [61]:
'x' not in list6

True

In [62]:
5 not in [1,2,3,4,5,6]

False

In [9]:
11 not in list(range(0,13))

False

In [10]:
5 not in range(0,5)

True

### Dictionary

In [3]:
'crab' not in {'fish':30,'chicken':40,'mutton':80,'egg':7,'beef':75}

True

In [4]:
'mutton' not in {'fish':30,'chicken':40,'mutton':80,'egg':7,'beef':75}

False

# <code>in</code> and <code>not in</code> is used to replace following

In [7]:
#without not in

for char in '123ad%1A3':
        if char!='1' and char!='2' and char!='3' and char!='4' and char!='5' and char!='6' and char!='7' and char!='8' and char!='9':
            print(f"'{char}' is not a number")
        else:
            print(f"'{char}' is a number")

'1' is a number
'2' is a number
'3' is a number
'a' is not a number
'd' is not a number
'%' is not a number
'1' is a number
'A' is not a number
'3' is a number

In [8]:
#with not in

for char in '123ad%1A3':
        if char not in ['1','2','3','4','5','6','7','8','9']:
            print(f"'{char}' is not a number")
        else:
            print(f"'{char}' is a number")

'1' is a number
'2' is a number
'3' is a number
'a' is not a number
'd' is not a number
'%' is not a number
'1' is a number
'A' is not a number
'3' is a number

# <code>min()</code> and <code>max()</code>

In [63]:
list7 = [54, 42, 76, 13, 46, 9, 73, 66, 24, 65]

In [64]:
min(list7)

9

In [65]:
max(list7)

76

In [66]:
min(56,12)

12

In [67]:
max(17,86)

86

# <code>random</code> library

random is built-in python library

<code>shuffle()</code>

In [1]:
#one such function is shuffle() which is used to shuffle data from required list
from random import shuffle

In [2]:
list7 = [54, 42, 76, 13, 46, 9, 73, 66, 24, 65]

In [3]:
#shuffle function returns nothing, instead it directly changes the argument which is passed in it 
shuffle(list7)

In [4]:
list7

[46, 9, 54, 42, 13, 65, 66, 76, 73, 24]

In [5]:
list8 = [1,2,3,4,5,6,7,8,9]
shuffle(list8)

In [6]:
list8

[4, 8, 7, 9, 3, 2, 1, 5, 6]

<code>randint()</code>

In [10]:
#it is used to generate random number between range
from random import randint

In [11]:
randint(1,10)

8

In [12]:
variable = randint(55,99)

In [13]:
print(variable)

89

Instead of importing single function each time from required library, we can import the entire library thereby importing all the functions/featurs of that library

In [2]:
import random

In [3]:
#Though now we cannot use them by calling them like a function
randint(1,10)

NameError: name 'randint' is not defined

In [4]:
#After importing the entire library, they are to be called like methods
random.randint(1,10)

10

In [5]:
list9 = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(list9)

In [6]:
list9

[5, 10, 2, 9, 1, 4, 6, 3, 8, 7]

# <code>input()</code> - function to take user inputs

In [14]:
input('Enter a number: ')

Enter a number: 55

'55'

In [15]:
#we can even store this returned value in some variable

num = input('Enter a number: ')

Enter a number: 67

In [17]:
num

'67'

Note:- Anything which is entered whether a number or character, is returned in <code>str</code> format only

In [18]:
type(num)

str

In [19]:
#another example
char = input('Enter something: ')

Enter something: fakhf kjfjbasfb0=o faf,l

In [20]:
char

'fakhf kjfjbasfb0=o faf,l'

In [21]:
type(char)

str

to return the integer value in <code>int</code> format we have to pass the the variable through <code>int()</code> or <code>float()</code>

In [22]:
num = int(num)

In [23]:
type(num)

int

In [24]:
num

67

In [26]:
# we cannot do this if the entered value is not integer :) OBVIOUSLY

int(char)

ValueError: invalid literal for int() with base 10: 'fakhf kjfjbasfb0=o faf,l'

In [27]:
# we can directly convert and return the entered value in integer (only if it is actually integer)

val = int(input('Enter any number: '))

Enter any number: 56

In [28]:
val

56

In [29]:
type(val)

int

In [30]:
#in Float

number = float(input('Enter any number: '))

Enter any number: 26.23

In [31]:
number

26.23

In [32]:
type(number)

float