If we want to extract data from one list, and do some operation on that data and store it in another list, we use list comprehension. It is just replacement of <code>.append()</code> which is used in for-loop

# Eg. 1

In [15]:
#without list comprehension, using simple for-loop

list1 = [1,2,3,4,5]
list2 = []

In [16]:
for x in list1:
    list2.append(x**2)

In [17]:
print(list2)

[1, 4, 9, 16, 25]

In [4]:
#same with list comprehension

list2 = [(x**2) for x in list1]

In [6]:
print(list2)

[1, 4, 9, 16, 25]

# Eg. 2 - String

In [12]:
#without list comprehension
list4 = []

for letter in 'HALO WRLD':
    list4.append(letter)

In [13]:
list4

['H', 'A', 'L', 'O', ' ', 'W', 'R', 'L', 'D']

In [14]:
#with list comprehension

list5 = [letter for letter in 'HALO WRLD']

In [15]:
list5

['H', 'A', 'L', 'O', ' ', 'W', 'R', 'L', 'D']

# Eg. 3 - <code>range()</code> and <code>if</code>

In [17]:
#without list comprehension
list6 = []

for num in range(0,49):
    if num%3 == 0:
        list6.append(num**2)

In [18]:
list6

[0,
 9,
 36,
 81,
 144,
 225,
 324,
 441,
 576,
 729,
 900,
 1089,
 1296,
 1521,
 1764,
 2025,
 2304]

In [19]:
#with list comprehension

list7 = [(num**2) for num in range(0,49) if num%3 == 0]

In [20]:
list7

[0,
 9,
 36,
 81,
 144,
 225,
 324,
 441,
 576,
 729,
 900,
 1089,
 1296,
 1521,
 1764,
 2025,
 2304]

# Eg. 4 - Nested list comprehension

In [10]:
#without list comprehension
List8 = [1,2,3,4,5]

In [11]:
List9 = []

for x in List8:
    List9.append(x**2)
    
print(List9)

[1, 4, 9, 16, 25]

In [12]:
List10 = []

for x in List9:
    List10.append(x - 2)
    
print(List10)

[-1, 2, 7, 14, 23]

In [14]:
#with list comprehension

List10 = [(y-2) for y in [(x**2) for x in List8]]

print(List10)

[-1, 2, 7, 14, 23]

# Eg. 5 - Nested for loops in list comprehension

In [19]:
# Without list comprehension!

mylist = []

for i in range(1,6):
    for j in range(1,6):
        if (i + j) < 5:
            mylist.append((i,j))
            
print(mylist)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (3, 1)]

In [20]:
# Without list comprehension!

mylist = [(i,j) for i in range(1,6) for j in range(1,6) if (i+j) < 5]

print(mylist)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (3, 1)]