### <code>map()</code> and <code>filter()</code> are few of the GENERATORS in Python

# <code>map()</code>

In [1]:
def square(num):
    return num**2

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [3]:
map(square,my_list)

### Usage in <code>list()</code>

In [5]:
list(map(square,my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Usage in for-loop

In [7]:
i = 1
for x in map(square,my_list):
    print(f'{i} * {i} = {x}')
    i = i + 1

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

### Example 2

In [20]:
def partition(num):
    if num < 5:
        return num**2
    elif num == 5:
        return '---'
    else:
        return num**(3)

In [21]:
my_list = list(range(1,11))

In [22]:
for x in map(partition,my_list):
    print(x)

1
4
9
16
---
216
343
512
729
1000

### Example 3:- mapping a list containing digits in str format into int format!

In [1]:
# int() is a pre-defined function in python which converts an 'integer feasible data' 
# which initially is not an integer, into int datatype

a = '23'
b = 3.14

In [2]:
int(a)

23

In [3]:
int(b)

3

In [5]:
# hence we can use use this function in map()!

mylist = ['1','2','3','4','5','6']

In [6]:
map(int,mylist)

In [7]:
list(map(int,mylist))

[1, 2, 3, 4, 5, 6]

In [8]:
# We connot perform division on str datatype! Hence we mapped the data in str format present in my list into int()
[x/2 for x in map(int,mylist)]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0]

# <code>filter()</code>
<code>filter()</code> only works if a function returns boolean. <code>filter()</code> return inputs as output only for <code>return True</code> statement.

In [29]:
def even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [30]:
my_list = list(range(1,11))

In [31]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#In case of map()
list(map(even,my_list))

[False, True, False, True, False, True, False, True, False, True]

In [33]:
filter(even,my_list)

### Usage in <code>list()</code>

In [34]:
list(filter(even,my_list))

[2, 4, 6, 8, 10]

### Usage in for-loop

In [35]:
for x in filter(even,my_list):
    print(x)

2
4
6
8
10

### Example 2

In [36]:
def check_prime(num):
    
    if num in [0,1]:
        return False

    for x in range(2,num):
        for y in range (2,num):
            if x*y > num:
                break
            if x*y == num:
                return False
            else:
                continue
    return True

In [37]:
my_list = list(range(0,20))

In [38]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
for x in filter(check_prime,my_list):
    print(x)

2
3
5
7
11
13
17
19

# Lambda expressions

In order to use any function for <code>map()</code> and <code>filter()</code>, we need not have to create them permanently in the form of function-definition. Instead we can create them temporarily in the form of Lambda expression. Functions whose output is directly dependent on input, can be converted in lambda expressions. Therfore functions which have flow control cannot be converted into lambda expression.

Converting function-definition into lambda expression

1)
def square(num):
    result = num**2
    return result

2)
def square(num):
    return num**2

3)
def square(num): return num**2

4)
square = lambda num: num**2

In [42]:
#1)
def square(num):
    result = num**2
    return result

In [43]:
square(3)

9

In [44]:
#2)
def square(num):
    return num**2

In [45]:
square(3)

9

In [46]:
#3)
def square(num): return num**2

In [47]:
square(3)

9

### Syntax of Lambda expression

In [48]:
#4) LAMBDA EXPRESSION
square = lambda num: num**2

In [49]:
square(3)

9

In [50]:
square(4)

16

In [51]:
# we can even assign any other variable instead of square and num
popeye = lambda x: x**2

In [52]:
popeye(5)

25

### Example 2

In [53]:
#1)
def even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [54]:
even(7)

False

In [55]:
#2)
def even(num):
    return num%2 == 0

In [56]:
even(4)

True

In [57]:
#3)
def even(num): return num%2 == 0

In [58]:
even(5)

False

In [59]:
#4) LAMBDA EXPRESSION
even = lambda num: num%2 == 0

In [60]:
even(11)

False

In [61]:
even(26)

True

### Example 3

In [70]:
jelly = lambda name: name[0].upper()+name[1:len(name)-1].lower()+name[len(name)-1].upper()

In [71]:
jelly('yash')

'YasH'

In [72]:
jelly('sAmMy')

'SammY'

In [73]:
jelly('HERO')

'HerO'

### Lambda expression with <code>map()</code>

Example 1

In [65]:
list(map(lambda num: num**2,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Example 2

In [76]:
NAMES = ['ash','david','robin']

In [77]:
list(map(lambda name: name[0].upper()+name[1:len(name)-1].lower()+name[len(name)-1].upper(), NAMES))

['AsH', 'DaviD', 'RobiN']

### Lambda expression with <code>filter()</code>

Example 1

In [66]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [67]:
for x in filter(lambda num: num%2 == 0,my_list):
    print(x)

2
4
6
8
10

Example 2

In [5]:
mylist = list(range(30))

In [6]:
for num in filter(lambda x: x > 10 and x < 20,mylist):
    print(num)

11
12
13
14
15
16
17
18
19