# Creating Classes

In [13]:
class Employee():
    pass

In [14]:
emp_1 = Employee()

In [15]:
emp_2 = Employee()

In [25]:
emp_1.first_name = 'Yash'
emp_1.last_name = 'Desai'

In [29]:
emp_2.first_name = 'Tyler'
emp_2.last_name = 'Durden'

In [26]:
emp_1.email_id = f'{emp_1.first_name}' + '.' + f'{emp_1.last_name}' + '@company.com'

In [27]:
emp_2.salary = 60000

In [1]:
#BETTER WAY
class Employee():
    
# 'self' is used to indicate the indicate the instances of the object. self --> emp_1, emp_2, emp_3 etc. 
#Therefore self.first_name <--> emp_3.first_name holds the reference to particular value of the attribute first_name
# belonging to the emp_1

    def __init__(self,first_name,last_name):
        self.first_name = first_name
        self.last_name = last_name
        self.email_id = f'{self.first_name}' + '.' + f'{self.last_name}' + '@company.com'
    
    #Methods automatically take instances as their first arguments
    def full_name(self):
        return f'{self.first_name} {self.last_name}'

In [2]:
emp_3 = Employee('Light','Yagami')
emp_4 = Employee('L','Lawliet')

In [3]:
#here self point towards the value of the last_name specific to emp_3
emp_3.last_name

'Yagami'

In [4]:
emp_4.first_name

'L'

In [5]:
emp_4.last_name

'Lawliet'

In [6]:
# usuall way to use method
emp_4.full_name()

'L Lawliet'

In [37]:
# unusuall way to use method
Employee.full_name(emp_3)

'Light Yagami'

# Class Variable

In [1]:
class Employee():
    
    num_of_emp = 0
    pay_raise_amount = 2
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first.lower() + '.' + last.lower() + '@company.com'
        
        Employee.num_of_emp += 1
        
    def full_name(self):
        return self.first + ' ' + self.last
    
    # difference between self.class_variable and Class_name.class_variable
    def raise_pay_1(self):
        self.pay = int(self.pay * self.pay_raise_amount)
        
    def raise_pay_2(self):
        self.pay = int(self.pay * Employee.pay_raise_amount)

In [2]:
emp_1 = Employee('Yash','Desai',5)

emp_2 = Employee('Kunal','Gaikwad',3)

emp_3 = Employee('Arjun','Roy',4)

In [3]:
Employee.num_of_emp

3

In [4]:
print(f'{emp_1.full_name()}:- {emp_1.pay}\n{emp_2.full_name()}:- {emp_2.pay}\n{emp_3.full_name()}:- {emp_3.pay}')

Yash Desai:- 5
Kunal Gaikwad:- 3
Arjun Roy:- 4

In [5]:
emp_1.raise_pay_2()
emp_2.raise_pay_2()
emp_3.raise_pay_2()

In [6]:
print(f'{emp_1.full_name()}:- {emp_1.pay}\n{emp_2.full_name()}:- {emp_2.pay}\n{emp_3.full_name()}:- {emp_3.pay}')

Yash Desai:- 10
Kunal Gaikwad:- 6
Arjun Roy:- 8

In [7]:
# changing value of class_attribute for specific instance only
emp_1.pay_raise_amount = 3

In [8]:
print(f'emp_1.pay_raise_amount = {emp_1.pay_raise_amount}')
print(f'emp_2.pay_raise_amount = {emp_2.pay_raise_amount}')
print(f'emp_3.pay_raise_amount = {emp_3.pay_raise_amount}')
print(f'Employee.pay_raise_amount = {Employee.pay_raise_amount}')

emp_1.pay_raise_amount = 3
emp_2.pay_raise_amount = 2
emp_3.pay_raise_amount = 2
Employee.pay_raise_amount = 2

In [9]:
emp_1.raise_pay_2()
emp_2.raise_pay_2()
emp_3.raise_pay_2()

In [10]:
# pay of each instances has increased 2x because raise_pay_2 was used, which uses Employee.pay_raise_amount
print(f'{emp_1.full_name()}:- {emp_1.pay}\n{emp_2.full_name()}:- {emp_2.pay}\n{emp_3.full_name()}:- {emp_3.pay}')

Yash Desai:- 20
Kunal Gaikwad:- 12
Arjun Roy:- 16

In [11]:
emp_1.raise_pay_1()
emp_2.raise_pay_1()
emp_3.raise_pay_1()

In [12]:
# pay of emp_1 has increased 3x and for rest of them it increased 2x because raise_pay_1 was used, which uses
# self.pay_raise_amount.That is pay_raise_amount attribute specific to each instances.
# since self.pay_raise_amount was changed to 3 for self-->emp_1 hence it captured that
print(f'{emp_1.full_name()}:- {emp_1.pay}\n{emp_2.full_name()}:- {emp_2.pay}\n{emp_3.full_name()}:- {emp_3.pay}')

Yash Desai:- 60
Kunal Gaikwad:- 24
Arjun Roy:- 32

In [13]:
print(Employee.pay_raise_amount)
print(emp_1.pay_raise_amount)
print(emp_2.pay_raise_amount)
print(emp_3.pay_raise_amount)

2
3
2
2

# Inheritance and sub-class

In [2]:
class Employee():
    
    num_of_emp = 0
    raise_amount = 5000
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first.lower() + '.' + last.lower() + '@company.com'
        
        Employee.num_of_emp += 1
        
    def full_name(self):
        return self.first + ' ' + self.last
    
    def raise_pay_1(self):
        self.pay = int(self.pay + self.raise_amount)
        
    def raise_pay_2(self):
        self.pay = int(self.pay + Employee.raise_amount)

In [3]:
class Developer(Employee):
    
    raise_amount = 6000
    
    def __init__(self,first,last,pay,prog_lang):
        Employee.__init__(self,first,last,pay)     
        self.prog_lang = prog_lang

In [4]:
dev_1 = Developer('Yash','Desai',50000,'Python')
dev_2 = Developer('Javin','Paul',60000,'Java')
dev_3 = Developer('Jeetu','Singh',45000,'Python')

In [39]:
Employee.num_of_emp

3

In [40]:
dev_1.raise_pay_1()
dev_2.raise_pay_2()

In [41]:
# since raise_pay_1() had self.raise_amount, hence self <--> dev_1 was pointed which marked local raise_amount in
# Developer Class
dev_1.pay

56000

In [42]:
# since raise_pay_2() had Employee.raise_amount, hence raise_amount local to Employee Class was markde
dev_2.pay

65000

In [43]:
type(dev_1)

__main__.Developer

In [9]:
class Manager(Employee):
    
    def __init__(self,first,last,pay,emp_list = None):
        Employee.__init__(self,first,last,pay)
        
        if emp_list == None:
            self.emp_list = []
            
        else:
            self.emp_list = emp_list
            
    def add_emp(self,new_emp):
        if isinstance(new_emp,Developer) and new_emp not in self.emp_list:
            self.emp_list.append(new_emp)
            
        elif isinstance(new_emp,Developer):
            print('already in your employee list')
            
        else:
            print(f'{new_emp} is not our employee')
            
    def remove_emp(self,old_emp):
        if old_emp in self.emp_list:
            self.emp_list.remove(old_emp)
            
        else:
            print(f'{old_emp} is not in your employee list')
            
    def print_emps(self):
        i = 0
        for emp in self.emp_list:
            i += 1
            print(f'{i}> {emp.full_name()}')

In [10]:
mng_1 = Manager('David','Thakur',100000,[dev_2,dev_3])

In [11]:
mng_1.print_emps()

1> Javin Paul
2> Jeetu Singh

In [12]:
mng_1.add_emp(dev_1)

In [13]:
mng_1.print_emps()

1> Javin Paul
2> Jeetu Singh
3> Yash Desai

In [14]:
mng_1.remove_emp(dev_2)

In [15]:
mng_1.print_emps()

1> Jeetu Singh
2> Yash Desai

__________________________________________________________________________________________________________________________

In [16]:
class Human():
    def __init__(self,first,last):
        self.first = first
        self.last = last

In [17]:
hum_1 = Human('Salman','Khan')

__________________________________________________________________________________________________________________________

In [18]:
mng_1.add_emp(hum_1)

<__main__.Human object at 0x0000022D234D9DD8> is not our employee

### Methods to check instances and sub-classes

In [87]:
isinstance(mng_1,Employee)

True

In [88]:
isinstance(mng_1,Manager)

True

In [89]:
isinstance(mng_1,Developer)

False

In [90]:
issubclass(Developer,Employee)

True

In [91]:
issubclass(Employee,Manager)

False

In [92]:
issubclass(Manager,Employee)

True

In [93]:
issubclass(Human,Employee)

False

# Adding equality method in your object

In [1]:
class Dog():
    
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed

In [2]:
d1 = Dog('Tommy','Husky')

In [3]:
d2 = Dog('Tommy','Husky')

In [4]:
d3 = Dog('Cherry','Lab')

In [6]:
# instances d1 and d2 possess same attributes but still lack equality
d1 == d2

False

In [9]:
d1 in [d2,d3]

False

In [11]:
Dog('Dexter','Poodle') == Dog('Dexter','Poodle')

False

To add equality between instances with same property we need to include ______eq__() method in our class. Like ______init__(), ______eq__() is also one of the magic methods in python.

In [2]:
class Cat():
    
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed
        
    def __eq__(self,other):
        if isinstance(other,Cat):
            return self.name == other.name and self.breed == other.breed
            
        else:
            return False

In [3]:
c1 = Cat('Robin','Persian')

In [4]:
c2 = Cat('Robin','Persian')

In [5]:
c3 = Cat('Sammy','ragdoll')

In [6]:
# now if we check for equality
c1 == c2

True

In [7]:
c1 in [c2,c3]

True

In [8]:
Cat('Leo','Russian Blue') == Cat('Leo','Russian Blue')

True

In [9]:
Cat('Leo','Russian Blue') == Cat('Leo','Sphynx')

False

# Accepting datatype specific attributes

In [1]:
class Citizen():
    
    def __init__(self,name,age):
        if type(name) != str:
            raise ValueError('name must be in string')
            
        if type(age) not in [int, float]:
            raise ValueError('age must be in integer')
            
        self.name = name
        self.age = age
            
    def __str__(self):
        return f'name: {self.name}\nage: {self.age}'

In [2]:
stranger = Citizen('Yash','22')

ValueError: age must be in integer

In [3]:
stranger.name

NameError: name 'stranger' is not defined

In [4]:
stranger = Citizen('Himani',18)

In [5]:
print(stranger)

name: Himani
age: 18

# Function manipulating global objects/classes
### By default every user defined objects are mutable in nature

In [1]:
class TestClass:
    
    def __init__(self,name,number,random_list):
        self.name = name # Immutable datatype
        self.number = number # Immutable datatype
        self.random_list = random_list # Mutable datatype
        
    def manipulate_attributes(self):
        self.number -= 1
        self.random_list.pop()
        
    def __str__(self):
        return f'name        : {self.name}\nnumber      : {self.number}\nrandom_list : {self.random_list}'

In [2]:
sample = TestClass('Yash',1000,[1,2,3,4,5,'6'])

In [3]:
print(sample)

name        : Yash
number      : 1000
random_list : [1, 2, 3, 4, 5, '6']

In [4]:
sample.manipulate_attributes()

In [5]:
print(sample)

name        : Yash
number      : 999
random_list : [1, 2, 3, 4, 5]

#### 1) Passing global objects as arguments in function call

In [14]:
def myfunc(some_object):
    
    try:
        some_object.name = 'Himani'
    
        some_object.manipulate_attributes()
        
    except:
        print(f'{some_object} is not an instance of TestClass')

In [7]:
myfunc([1,2,3,4,5])

[1, 2, 3, 4, 5] is not an instance of TestClass

In [8]:
print(sample)

name        : Yash
number      : 999
random_list : [1, 2, 3, 4, 5]

In [9]:
myfunc(sample)

In [10]:
print(sample)

name        : Himani
number      : 998
random_list : [1, 2, 3, 4]

#### 2) Not passing global objects as arguments in function call

In [15]:
def _myfunc():
    # But we do have to name the instance of the object inside of the function with the same
    # name of the global instance which we are trying to manipulate/mutate
    
    try:
        sample.name = 'SammY'
    
        sample.manipulate_attributes()
        
    except:
        print(f'{some_object} is not an instance of TestClass')

In [13]:
print(sample)

name        : Himani
number      : 998
random_list : [1, 2, 3, 4]

In [16]:
_myfunc()

In [17]:
print(sample)

name        : SammY
number      : 997
random_list : [1, 2, 3]

# More magic methods in python
https://youtu.be/3ohzBxoFHAY

______str__() vs. ______repr__()

In [63]:
# First lets see an example of an __str__()

class ComplexNumber():
    
    # rp --> Real part & ip --> Imaginary part
    def __init__(self, rp=0, ip=0):
        
        if type(rp) not in [int, float]:
            raise ValueError(f'Real part of a complex number must be an integer or a float')
                
        if type(ip) not in [int, float]:
            raise ValueError(f'Imaginary part of a complex number must be an integer or a float')
        
        self.rp = rp
        self.ip = ip
    
    def __str__(self):
        if self.ip >= 0:
            return '{r:0.2f}+{i:0.2f}i'.format(r=self.rp, i=self.ip)
        
        else:
            return '{r:0.2f}{i:0.2f}i'.format(r=self.rp, i=self.ip)

In [64]:
# Lets first define a complex number

num = ComplexNumber(8,9)

In [11]:
num

In [12]:
print(num)

8.00+9.00i

In [55]:
num.__str__()

'8.00+9.00i'

In [65]:
# Even if we don't have __repr__() method in our class we still get following output
num.__repr__()

'<__main__.ComplexNumber object at 0x000001B3DDD55160>'

In [39]:
# Lets define a list containing complex numbers

mylist = [ComplexNumber(1.5,25), ComplexNumber(3,-8), ComplexNumber(-3.14)]

In [40]:
mylist

[1.50+25.00i, 3.00-8.00i, -3.14+0.00i]

In [41]:
print(mylist)

[1.50+25.00i, 3.00-8.00i, -3.14+0.00i]

In [42]:
# Lets define a function which returns a complex number

def myfunc():
    
    # Global object returning locally
    return ComplexNumber(-7,3)

In [43]:
myfunc()

-7.00+3.00i

In [66]:
# Now lets see an example of __repr__()

class ComplexNumber():
    
    # rp --> Real part & ip --> Imaginary part
    def __init__(self, rp=0, ip=0):
        
        if type(rp) not in [int, float]:
            raise ValueError(f'Real part of a complex number must be an integer or a float')
                
        if type(ip) not in [int, float]:
            raise ValueError(f'Imaginary part of a complex number must be an integer or a float')
        
        self.rp = rp
        self.ip = ip
    
    def __repr__(self):
        if self.ip >= 0:
            return '{r:0.2f}+{i:0.2f}i'.format(r=self.rp, i=self.ip)
        
        else:
            return '{r:0.2f}{i:0.2f}i'.format(r=self.rp, i=self.ip)

In [68]:
# Lets first define a complex number

num = ComplexNumber(8,9)

In [46]:
num

8.00+9.00i

In [47]:
print(num)

8.00+9.00i

In [69]:
# Even if we don't have following __str__() method in our class we still get following output
num.__str__()

'8.00+9.00i'

In [70]:
num.__repr__()

'8.00+9.00i'

In [48]:
# Lets define a list containing complex numbers

mylist = [ComplexNumber(1.5,25), ComplexNumber(3,-8), ComplexNumber(-3.14)]

In [49]:
mylist

[1.50+25.00i, 3.00-8.00i, -3.14+0.00i]

In [50]:
print(mylist)

[1.50+25.00i, 3.00-8.00i, -3.14+0.00i]

In [31]:
# Lets define a function which returns a complex number

def myfunc():
    
    # Global object returning locally
    return ComplexNumber(-7,3)

In [34]:
myfunc()

-7.00+3.00i

Hence in conclusion,  ______repr__() is super set of ______str__(). Meaning ______repr__() has all the features of ______str__() plus it also has its own additional features

<ol>
    <li>______add__()</li>
    <li>______sub__()</li>
    <li>______mul__()</li>
    <li>______truediv__()</li>
</ol>

In [26]:
# Putting '+' sign between two different integer objects results in their addition!

5 + 2

7

In [35]:
# Putting '*' sign between two different integer objects results in their multiplication!

5 * 2

10

In [36]:
# Putting '+' sign between two different string objects results in their concatenation!

'Hello ' + 'World'

'Hello World'

In [37]:
# Putting '*' sign between two different string objects results in an error!

'Hello ' * 'World'

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
# But putting '*' sign between one string object and another integer object results in string multiplication!

'Hi' * 4

'HiHiHiHi'

In [1]:
# Putting '+' sign between two different list objects results in their concatenation!

[1,2,3,4] + ['a','b','c']

[1, 2, 3, 4, 'a', 'b', 'c']

In [2]:
# Putting '*' sign between two different list objects results in an error!

[1,2,3,4] * ['a','b','c']

TypeError: can't multiply sequence by non-int of type 'list'

In [3]:
# But putting '*' sign between one list object and another integer object results in list multiplication!

[1,2,3,4] * 4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [73]:
isinstance(3,int)

True

In [74]:
isinstance('str',int)

False

In [1]:
# Similarly we can add this functionality in our user-defined objects

class ComplexNumber():
    
    # Magic methods
    # rp --> Real part & ip --> Imaginary part
    def __init__(self, rp=0, ip=0):
        
        if type(rp) not in [int, float]:
            raise ValueError()
                
        if type(ip) not in [int, float]:
            raise ValueError()
        
        self.rp = rp
        self.ip = ip
    
    def __repr__(self):
        if self.ip >= 0:
            return '{r:0.2f}+{i:0.2f}i'.format(r=self.rp, i=self.ip)
        
        else:
            return '{r:0.2f}{i:0.2f}i'.format(r=self.rp, i=self.ip)
        
    def __add__(self,other):
        if isinstance(other,ComplexNumber):
            a = self.rp
            b = self.ip
            x = other.rp
            y = other.ip
            return ComplexNumber(a+x, b+y)
        
        elif isinstance(other,int):
            a = self.rp
            b = self.ip
            return ComplexNumber(a+other, b)
        
        elif isinstance(other,float):
            a = self.rp
            b = self.ip
            return ComplexNumber(a+other, b)
            
        else:
            raise TypeError()
            
    def __sub__(self,other):
        if isinstance(other,ComplexNumber):
            a = self.rp
            b = self.ip
            x = other.rp
            y = other.ip
            return ComplexNumber(a-x, b-y)
        
        elif isinstance(other,int):
            a = self.rp
            b = self.ip
            return ComplexNumber(a-other, b)
        
        elif isinstance(other,float):
            a = self.rp
            b = self.ip
            return ComplexNumber(a-other, b)
            
        else:
            raise TypeError()
            
    def __mul__(self,other):
        if isinstance(other,ComplexNumber):
            a = self.rp
            b = self.ip
            x = other.rp
            y = other.ip
            return ComplexNumber((a*x)-(b*y), (a*y)+(b*x))
        
        elif isinstance(other,int):
            a = self.rp
            b = self.ip
            return ComplexNumber(a*other, b*other)
        
        elif isinstance(other,float):
            a = self.rp
            b = self.ip
            return ComplexNumber(a*other, b*other)
            
        else:
            raise TypeError()
            
    def __truediv__(self,other):
        if isinstance(other,ComplexNumber):
            a = self.rp
            b = self.ip
            x = other.rp
            y = other.ip
            return ComplexNumber(((a*x)+(b*y))/((x**2)+(y**2)), ((b*x)-(a*y))/((x**2)+(y**2)))
        
        elif isinstance(other,int):
            a = self.rp
            b = self.ip
            return ComplexNumber(a/other, b/other)
        
        elif isinstance(other,float):
            a = self.rp
            b = self.ip
            return ComplexNumber(a/other, b/other)
            
        else:
            raise TypeError()
    
    # Regular method
    def mod(self):
        a = self.rp
        b = self.ip
        return ComplexNumber(((a**2)+(b**2))**(0.5))

In [2]:
num1 = ComplexNumber(2,9)
num2 = ComplexNumber(-3,6)

Addition

In [3]:
num1 + num2

-1.00+15.00i

In [18]:
num1.__add__(num2)

-1.00+15.00i

In [5]:
num1 + 5

7.00+9.00i

In [6]:
num1.__add__(5)

7.00+9.00i

In [7]:
# But its not commutative, because we also have to implement this in in-built integen clase

5 + num1

TypeError: unsupported operand type(s) for +: 'int' and 'ComplexNumber'

Subtraction

In [8]:
num1 - num2

5.00+3.00i

In [17]:
num1.__sub__(num2)

5.00+3.00i

In [9]:
num1 - 3

-1.00+9.00i

In [10]:
num1.__sub__(3)

-1.00+9.00i

In [11]:
3 - num1

TypeError: unsupported operand type(s) for -: 'int' and 'ComplexNumber'

Multiplication

In [12]:
num1 * num2

-60.00-15.00i

In [19]:
num1.__mul__(num2)

-60.00-15.00i

In [13]:
num1 * 4

8.00+36.00i

In [14]:
num1.__mul__(4)

8.00+36.00i

In [15]:
4 * num1

TypeError: unsupported operand type(s) for *: 'int' and 'ComplexNumber'

Division

In [16]:
num1 / num2

1.07-0.87i

In [20]:
num1.__truediv__(num2)

1.07-0.87i

In [21]:
num1 / 2

1.00+4.50i

In [22]:
num1.__truediv__(num2)

1.07-0.87i

In [23]:
2 / num1

TypeError: unsupported operand type(s) for /: 'int' and 'ComplexNumber'